<div class="offset-image-cta">
  <div class="offset-image-cta__image">
    {% block image %}{% endblock %}
  </div>
  <div class="offset-image-cta__content bg-color-moondust">
    <div class="offset-image-cta__text">
      {{ text }}
    </div>
    <div class="offset-image-cta__link">
      {% block buttons %}{% endblock %}
    </div>
  </div>
</div>
