<div class="component full-width-image-with-text-overlay flex-container flex-jc-space-between flex-ai-flex-start flex-dir-column">
  <div class="full-width-image-with-text-overlay__image">
    {% block image %}{% endblock %}
  </div>
  <div class="full-width-image-with-text-overlay__text inner-row">
    <p class="full-width-image-with-text-overlay__text__subtext color-white">{{ subtext }}</p>
    <h2 class="full-width-image-with-text-overlay__text__heading color-white">{{ text }}</h2>
  </div>
</div>
