{% stories full_width_image_with_two_column_overlay with { title: 'Components/Full Width Image with Two Column Overlay' } %}

  {% story default with {
    name: '1. Default',
    args: {
      img_src: 'https://placekeanu.com/1800/800'
    }
  } %}
    {% embed 'osu:full-width-image-with-two-column-overlay' %}
      {% block content_col_1 %}
        <h4>Ready to get started?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed fermentum sapien. Duis a luctus lacus. Praesent dapibus congue laoreet. Nulla ullamcorper, nulla ac suscipit elementum, enim nibh hendrerit lorem, congue malesuada justo nibh a felis.</p>
      {% endblock %}
      {% block content_col_2 %}
        <h5>Application Information</h5>
        <a href="#" class="button secondary">See Prerequisites</a> <a href="#" class="button secondary">Application Steps</a> <a href="#" class="button secondary">Tuition & Scholarships</a>
        <h5>Real Life Education Lorem</h5>
        <a href="#" class="button secondary">Curriculum</a> <a href="#" class="button secondary">Experiental Education</a>
      {% endblock %}
    {% endembed %}
  {% endstory %}

{% endstories %}
