.step-flag {
  margin: 0 0 5% 5%;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .step-flag {
    display: grid;
    grid-template-columns: 155px 1fr;
    margin-left: 0;
    width: 98%;
  }
}
.step-flag .flag__text {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .step-flag .step-flag__content p:first-child {
    margin-top: 0;
  }
}