.stats {
  padding: 0 5%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .stats {
    display: grid;
    gap: 30px;
    padding: 0;
    margin-bottom: 0;
    grid-template-columns: 150px auto;
    grid-template-areas: "one_title one_content" "two_title two_content" "three_title three_content" "empty four_content";
  }
}
.stats .stats__section-title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin-top: 40px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .stats .stats__section-title {
    text-align: right;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
  }
}
.stats .stats__first__title {
  grid-area: one_title;
  margin-top: 0;
}
.stats .stats__first__content {
  grid-area: one_content;
}
.stats .stats__first__content .stat:first-of-type {
  margin-right: 1rem;
}
.stats .stats__second__title {
  grid-area: two_title;
}
.stats .stats__second__content {
  grid-area: two_content;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .stats .stats__second__content {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
.stats .stats__second__content .stat {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .stats .stats__second__content .stat {
    margin-bottom: 0;
  }
}
.stats .stats__third__title {
  grid-area: three_title;
}
.stats .stats__third__content {
  grid-area: three_content;
}
.stats .stats__fourth {
  grid-area: four_content;
}
@media screen and (min-width: 768px) {
  .stats .stats__fourth {
    display: flex;
    gap: 15px;
  }
}
.stats .stats__first__content {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .stats .stats__first__content {
    justify-content: flex-start;
  }
}
.stats .stats__section-content p,
.stats .stats__column p {
  font-size: 14px;
  line-height: 20px;
}
.stats .stats__section-content p:first-of-type,
.stats .stats__column p:first-of-type {
  margin-top: 0;
}
.stats .stats__section-content p:last-of-type,
.stats .stats__column p:last-of-type {
  margin-bottom: 0;
}
.stats .stats__section-content ul,
.stats .stats__column ul {
  margin: 0;
}
.stats .stats__section-content li,
.stats .stats__column li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 14px;
}
.stats .stats__column.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 3%;
}
@media screen and (min-width: 768px) {
  .stats .stats__column.text {
    padding: 0 1%;
  }
}
.stats .stats__column.text p {
  margin: auto;
}
.stats .stats__column.graphic img,
.stats .stats__column.graphic picture {
  display: block;
  margin: 15px auto;
}
@media screen and (min-width: 768px) {
  .stats .stats__column.graphic img,
  .stats .stats__column.graphic picture {
    margin: 0;
  }
}