@import '../../src/utils/variables';

.next-steps-section {
  width: 90%;
  margin: 0 $gutter-width 2rem;

  @media screen and (min-width: $md) {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .next-steps-section__intersecting_part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .next-steps-section__intersecting_part__rectangle {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    background-color: $color-gray;
  }

  .next-steps-section__intersecting_part__icon {
    display: block;
    justify-self: center;
    align-self: center;
    grid-column: 2;
    grid-row: 1 / 5;
    border-radius: 50%;
    overflow: hidden;

    img {
      height: 90px;
      width: 90px;
      object-fit: cover;
    }

    @media screen and (min-width: $md) {
      img {
        height: 120px;
        width: auto;
      }
    }
  }

  .next-steps-section__content {
    background-color: $color-gray;
    padding: 1px 25px 25px;

    @media screen and (min-width: $md) {
      padding: 1px 50px 25px;
    }

    .next-steps-section__content__step_statement {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      border-bottom: 1px solid $color-crater;

      h5 {
        font-family: $body-font-family;
        font-weight: $bold-font-weight;
        margin-bottom: 1rem;
      }
    }

    .next-steps-section__description {
      p {
        color: $color-dark-body-text;
        margin: 1rem 0;
      }
    }
  }

  .two_tertiary_buttons__row-column {
    .button {
      margin-top: 0;

      &.tertiary {
        padding-top: 0;
      }
    }
  }

}
