<div class="burger-menu-wrapper">
  <div class="burger-menu">
    <input class="burger-menu__menu-trigger hidden" id="togglenav" type="checkbox"/>
    <label class="burger-menu__burger-wrapper" for="togglenav">
      <div class="burger-menu__hamburger"></div>
    </label>
  </div>
</div>
