@import 'breadcrumbs';
@import 'buttons';
@import 'color';
@import 'footer';
@import 'forms';
@import 'header';
@import 'images';
@import 'layout-builder';
@import 'layout';
@import 'links';
@import 'menu';
@import 'page';
@import 'regions';
@import 'search';
@import 'spacer';
@import 'table';
@import 'typography';
@import 'views-exposed-forms';
@import 'views';

.rounded {
  border-radius: 20px;
}

hr {
  border-top: 1.5px solid $color-crater;
  border-bottom: 0;
  max-width: 300px;
  margin: 20px auto;
  opacity: 0.7;
}

.row {
  padding: 0;

  @media screen and (min-width: calc($row-width + $gutter-width-px)) {
    padding: 0;
  }

  &.no-gutters {
    padding: 0;
  }
}
