@import 'breadcrumbs';
@import 'buttons';
@import 'color';
@import 'footer';
@import 'forms';
@import 'header';
@import 'images';
@import 'layout-builder';
@import 'layout';
@import 'links';
@import 'menu';
@import 'page';
@import 'regions';
@import 'search';
@import 'spacer';
@import 'table';
@import 'typography';
@import 'views-exposed-forms';
@import 'views';

.rounded {
  border-radius: 20px;
}

hr {
  border-top: 1.5px solid $color-crater;
  border-bottom: 0;
  max-width: 300px;
  margin: 20px auto;
  opacity: 0.7;
}

.row {
  padding: 0;

  @media screen and (min-width: calc($row-width + $gutter-width-px)) {
    padding: 0;
  }

  &.no-gutters {
    padding: 0;
  }
}

.pager {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-bottom: $padding-base * 4px;

  .pager__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 20px;
  }

  .pager__item {
    a {
      color: $color-dark-body-text;
    }
    &.is-active {
      a {
        color: $color-stratosphere;
        font-weight: bold;
      }
    }
    &.pager__item--next,
    &.pager__item--last,
    &.pager__item--first,
    &.pager__item--previous {
      a {
        color: $color-stratosphere;
      }
    }
    // &[class*="pager__item--"] {
    //   padding: $padding-base * 1px;
    //   border: 1px solid $color-moondust-2;
    //   background-color: $color-moondust-3;
    //   text-decoration: none;
    // }

    // &:not(:first-child) {
    //   margin-left: $padding-base * 3px;
    //   font-size: $body-font-size;
    // }

    // &.is-active {
    //   text-decoration: underline;
    //   text-underline-offset: 2px;
    //   text-decoration-thickness: 2px;
    //   text-decoration-color: $color-stratosphere;
    // }
  }
}