<div class="component full-width-image-with-one-column-overlay flex-container flex-jc-space-between flex-ai-flex-start flex-dir-column">
  <div class="full-width-image-with-one-column-overlay__text flex-container">
  <div class="full-width-image-with-one-column-overlay__image" style="background-image: url( {{ file_url(img_src) }}">
  </div>
    <div class="full-width-image-with-one-column-overlay__body color-white">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
