<div class="component icon-with-content flex-container flex-dir-column flex-jc-flex-start flex-ai-stretch">
  <div class="icon-with-content__image flex-container flex-ai-center flex-jc-center">
    {% block image %}{% endblock %}
  </div>
  <div class="image-with-content__content">
    {% block content %}{% endblock %}
  </div>
</div>
