<div class="component steps-flags-with-content flex-container flex-dir-column flex-jc-flex-start flex-ai-stretch">
  <div class="steps-flags-with-content__title margin-bottom-two">
    <h4 class="color-beaver-orange">{{ title }}</h4>
  </div>
  <div class="steps-flags-with-content__content">
    {% block content %}{% endblock %}
  </div>
</div>
