.block-inline-blockthree-column-gray-box-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .block-inline-blockthree-column-gray-box-button {
    flex-direction: row;
  }
  .block-inline-blockthree-column-gray-box-button .gray-box-button {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    margin: 0;
    max-width: unset;
  }
}

.block-inline-blockgray-box-button {
  height: 100%;
  overflow: hidden;
}

.gray-box-button {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 90%;
}
@media screen and (min-width: 768px) {
  .gray-box-button {
    margin: unset;
    max-width: 100%;
  }
}
.gray-box-button .gray-box-button__intersecting_part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.gray-box-button .gray-box-button__intersecting_part__rectangle {
  grid-column: 1/4;
  grid-row: 3/5;
  background-color: #F1F1F1;
}
.gray-box-button .gray-box-button__intersecting_part__icon {
  display: block;
  justify-self: center;
  align-self: center;
  grid-column: 2;
  grid-row: 1/5;
  border-radius: 50%;
  overflow: hidden;
}
.gray-box-button .gray-box-button__intersecting_part__icon img {
  height: 90px;
  width: 90px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .gray-box-button .gray-box-button__intersecting_part__icon img {
    height: 120px;
    width: auto;
  }
}
.gray-box-button .gray-box-button__content {
  padding: 1px 25px 14px;
  background-color: #F1F1F1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.gray-box-button .gray-box-button__content .gray-box-button__content__title {
  font-weight: 700;
  text-transform: uppercase;
}
.gray-box-button .gray-box-button__content .gray-box-button__content__title h2 {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.045rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .gray-box-button .gray-box-button__content .gray-box-button__content__title h2 {
    font-size: 22px;
  }
}
.gray-box-button .gray-box-button__content .gray-box-button__description {
  color: #535651;
  text-align: center;
}
.gray-box-button .gray-box-button__content .gray-box-button__description p {
  margin-top: 0;
  font-size: 16px;
}
@media (min-width: 1025px) {
  .gray-box-button .gray-box-button__content .gray-box-button__description p {
    font-size: 18px;
  }
}
.gray-box-button .gray-box-button__content .gray-box-button__description p:empty {
  display: none;
}
.gray-box-button .button {
  margin-bottom: 1rem;
}